@CHARSET "ISO-8859-1";


 .txt
        {
       width:96%;
       height:36px;
       border-radius:10px;
       font-size:18px;
       padding:3px 7px;
       background-color:rgba(59, 47, 3, 0.32);
       color:white;
        }
#up{
height:70px;
width:100%;
}
#logo{
	height:70px;
width:17%;
float:left;
}
.mn{
height:50px;
width:12%;
color:white;
text-align:center;
float:left;
}
#contentm {
    height:500px;
    width:100%;	
}
#welcome{
height:200px;
width:100%
}
#menu{
height:50px;
width:100%;
display:inline;
position: fixed;
 
}
.mn{
height:50px;
width:13%;
text-decoration:none;
font-size:22px;
font-color:white;
text-align:center;
float:left;
}
.mn :hover{
	border-radius:70%;
text-color:red;
  background-color: #777;
 
}
#outer{
	min-height:250px;
	color:white;
	width:100%;
	font-style:oblique;
font-family:'Times New Roman';
font-size:20px;
text-align:center;
}
#upFooter{
	height:200px;
	width:100%;
	Background:#3d3636;
}
.Ufooterl{
	height:200px;
	width:33%;
	float:left;
}
#UfooterC{
	height:200px;
	width:34%;
	float:left;
}
#bFooter{
	height:50px;
	width:100%;
	Background:black;
}
.BPart{
	height:50px;
	width:50%;
	float:left;
	line-height:50px;
}
#out {
	min-height: 500px;
	width: 100%;
	overflow: scroll;
}

.part {
	height: 150px;
	width: 100%;
}

.msg {
	height: 148px;
	width: 79.5%;
	float: left;
}

.image {
	height: 150px;
	width: 19%;
	background: rgba(248, 82, 133, 0.1);
	float: right;
}

.feed {
	height: 100px;
	width: 96%;
	background: #e5f3ff;
	float: left;
	padding: 10px 30px;
	border: 1px solid black;
}

.detail {
	height: 30px;
	width: 102%;
	float: left;
	text-align: right;
	background: #e5f3ff;
}

.name {
	height: 30px;
	width: 30%;
	float: right;
	text-align: center;
	font-weight: bold;
}

.email {
	height: 30px;
	width: 30%;
	float: left;
	text-align: center;
	font-weight: bold;
}

.date {
	height: 30px;
	width: 30%;
	float: right;
	text-align: left;
}